MONGODB_URI=mongodb+srv://admin:1N2pcMsMuaIhk7rH@cluster0.ksqg1af.mongodb.net/

RMQ_URI=amqp://rabbitmq:5672

JWT_SECRET=4YdOfiPtyv1aYAjSdr7MidPOnmZHtT4AdLAvQldpHvD2SrOwEXS7E1JQHhUn1XEy0bOCCHnI8zIxWKocI7ASb7Kh3uQ0spn9FsZ
JWT_EXPIRATION=3600

HTTP_PORT=5000

HIGHLIGHT_HOST=highlight

JWT_VERIFICATION_TOKEN_SECRET=7AnEd5epXmdaJfUrokkQ
JWT_VERIFICATION_TOKEN_EXPIRATION_TIME=21600

EMAIL_CONFIRMATION_URL=http://localhost:3000/register/confirm-email